name: alfred_jetbrains_cli
description: Companion CLI for Alfred JetBrains workflow
version: 2.6.2
repository: https://github.com/bchatard/alfred-jetbrains-cli

environment:
  sdk: ^3.10.0

dependencies:
  args: ^2.6.0
  io: ^1.0.5
  json_annotation: ^4.9.0
  logger: ^2.5.0
  path: ^1.9.1
  collection: ^1.19.1
  xml: ^6.5.0
  glob: ^2.1.2
  embed_annotation: ^1.2.2
  build_version: ^2.1.3

dev_dependencies:
  build_runner: ^2.4.13
  json_serializable: ^6.9.0
  lints: ^6.0.0
  test: ^1.25.12
  lint_staged: ^0.5.1
  embed: ^1.6.2

lint_staged:
  '*': dart analyze .
  '{lib/**.dart, bin/*.dart}': dart format && dart fix --apply
