name: Validate

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/validate.yml"
      - "bin/alfred_jetbrains_cli.dart"
      - "lib/**"
      - "test/**"
      - "pubspec.yaml"
      - "packages/build_pubspec/lib/**"
      - "packages/build_pubspec/pubspec.yaml"

jobs:
  validate:
    runs-on: macos-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v5
      - name: Setup Dart
        uses: dart-lang/setup-dart@v1
      - name: Install Dependencies
        run: dart pub get
      - name: Install Coverage
        run: dart pub global activate coverage
      - name: Check code format
        run: dart format --output=none --set-exit-if-changed .
      - name: Analyze code
        run: dart analyze
      - name: Run test
        run: dart test --coverage=coverage
      - name: Format coverage
        run: dart pub global run coverage:format_coverage --lcov --in=coverage --out=coverage/lcov.info --packages=.dart_tool/package_config.json --report-on=lib
      - name: SonarQube Scan
        # https://community.sonarsource.com/t/github-action-sonarqube-scan-action-fails-due-to-unbound-scanner-args-0/141257/14
        uses: SonarSource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
